/* For use with "Classic" layout. */

/* Page styles */

#Wrapper {
  /* Pad top to give space for parent close button */
  padding-top: 40px;
}
#Plug {
  /* Hide plug */
  visibility: hidden;
}
.Skin {
  color: #14181a;
  /* Use same font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.Skin .SkinInner {
  /* Use same max width as our modals */
  width: 100%;
  max-width: 500px;
}
.Skin #Questions {
  /* Prevent questions scrolling under fixed buttons */
  margin-bottom: 88px;
}
@media (min-width: 500px) {
  .Skin #Questions {
    /* Revert margin when buttons no longer fixed */
    margin-bottom: 0;
  }
}
.Skin .QuestionText {
  color: #14181a;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding: 16px;
}
.Skin .QuestionBody {
  color: #14181a;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 16px 16px 16px;
}
.Skin .QuestionOuter {
  padding-bottom: 32px;
}
.Skin .QuestionOuter.Highlight .Inner {
  /* Avoid tinted background color on validation */
  background: none;
}
.Skin #Buttons {
  display: flex;
  flex-wrap: nowrap;
  padding: 16px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 0;
}
@media (min-width: 500px) {
  .Skin #Buttons {
    position: static;
  }
}
.Skin #Buttons #NextButton,
.Skin #Buttons #PreviousButton {
  color: #14181a;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  max-width: 343px;
  background-color: #00bfa5;
  height: 56px;
  padding: 0 16px 0 16px;
  border-radius: 8px;
}
.Skin #Buttons #NextButton:focus,
.Skin #Buttons #PreviousButton:focus {
  background-color: #00bfa5;
  box-shadow: none;
  outline: none;
}
.Skin #Buttons #NextButton:focus-visible,
.Skin #Buttons #PreviousButton:focus-visible {
  box-shadow: inset 0px 0px 0px 2px #14181a;
}
.Skin #Buttons #NextButton:active,
.Skin #Buttons #PreviousButton:active {
  background-color: #00a690;
}
.Skin #Buttons #NextButton:disabled,
.Skin #Buttons #PreviousButton:disabled {
  opacity: 1;
  color: #5d6a74;
  background-color: #ccd6dd;
}
.Skin #Buttons .Button + #NextButton {
  margin-left: 16px;
}
.Skin #EndOfSurvey {
  color: #14181a;
  text-align: center;
  background: url(https://res.cloudinary.com/sharecare/image/upload/v1659617900/sharecare-images/qualtrics/heart-on-stars.png)
    center top no-repeat;
  padding: 156px 16px 16px 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

/* Question specific styles */

span.LabelWrapper label > span {
  display: inline-block;
}

span.LabelWrapper label > span:hover {
  display: inline-block;
  background-color: #009af3;
}

.Skin .NPS table td {
  text-align: center;
}
.Skin .NPS label.SingleAnswer {
  padding: 10px 4%;
  background-color: transparent;
}

.Skin .NPS table .ColumnLabels {
  display: flex;
  position: absolute;
  top: 50px;
  justify-content: space-between;
  text-align: left;
}
.Skin .NPS table .ColumnLabels .First {
  text-align: left;
}
.Skin .NPS table .ColumnLabels .Center {
  text-align: center;
}
.Skin .NPS table .ColumnLabels .Last {
  text-align: right;
}

.Skin .MC .TextEntryBox,
.Skin .TE .ESTB .InputText,
.Skin .TE .FORM .InputText,
.Skin .TE .ML .InputText,
.Skin .TE .PW .InputText,
.Skin .TE .SL .InputText,
.Skin .TE textarea,
.Skin input.TextEntryBox,
.Skin input[type="password"],
.Skin input[type="search"],
.Skin input[type="text"],
.Skin textarea {
  background-color: #f4f6f8;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
}

.Skin .LabelWrapper span {
  border: #5d6a74 2px solid;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Skin .LabelContatiner {
  width: 300px;
  background: transparent;
  margin: 8px;
  overflow: hidden;
}

.Skin label.SingleAnswer.q-checked span {
  background: #00bfa5;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Skin label.SingleAnswer span:hover {
  background: #eee;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Skin SingleAnswer,
.Skin MultipleAnswer {
  background: rgba(0, 0, 0, 0);
}

.Skin .MC .ChoiceStructure {
  border-spacing: 0;
}

.Skin label.SingleAnswer {
  background: rgba(0, 0, 0, 0);
}

.Skin .MC .TextEntryBox,
.Skin .TE .ESTB .InputText,
.Skin .TE .FORM .InputText,
.Skin .TE .ML .InputText,
.Skin .TE .PW .InputText,
.Skin .TE .SL .InputText,
.Skin .TE textarea,
.Skin input.TextEntryBox,
.Skin input[type="password"],
.Skin input[type="search"],
.Skin input[type="text"],
.Skin textarea {
  background: #ccd6dd;
  width: 263px;
}

.Skin .MC .SAHR .QuestionBody table td label,
.Skin .MC .MAHR .QuestionBody table td labe {
  background: transparent;
}

.Skin label.SingleAnswer.q-checked span {
  border-color: transparent;
}

.Skin .LabelContatiner {
  padding: 0px;
}

.Skin label.MultipleAnswer.LabelPositionBELOW,
.Skin label.SingleAnswer.LabelPositionBELOW {
  padding-left: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.Skin label.SingleAnswer.q-checked,
.Skin label.MultipleAnswer.q-checked {
  background-color: transparent;
}
.Skin .QuestionBody table.ChoiceStructure {
  width: 150px;
}
.Skin .MC .MAHR .QuestionBody td,
.Skin .MC .MAHR .QuestionBody li,
.Skin .MC .SAHR .QuestionBody td,
.Skin .MC .SAHR .QuestionBody li {
  display: inline-block;
  width: 38px;
}

.Skin .MC .MAHR .QuestionBody li,
.Skin .MC .MAHR .QuestionBody td,
.Skin .MC .SAHR .QuestionBody li,
.Skin .MC .SAHR .QuestionBody td {
  display: inline-block;
  width: 38px;
}

.Skin .MC .MAHR .QuestionBody li,
.Skin .MC .MAHR .QuestionBody td,
.Skin .MC .SAHR .QuestionBody li,
.Skin .MC .SAHR .QuestionBody td {
  display: table-cell;
}
