/* For use with "Simple" layout. */

/* Page styles */

#app #header-container.empty {
  /* Pad top to give space for parent close button */
  height: 40px;
  min-height: 0;
  padding: 0;
}
#plug {
  /* Hide plug */
  visibility: hidden;
}
#app {
  color: #14181a;
  /* Use same font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
#survey-canvas {
  /* Use same max width as our modals */
  width: 100%;
  max-width: 500px;
}
#page #contents {
  padding: 0 16px;
  /* Prevent questions scrolling under fixed buttons */
  margin-bottom: 88px;
}
@media (min-width: 500px) {
  #page #contents {
    /* Revert margin when buttons no longer fixed */
    margin-bottom: 0;
  }
}
.shadowbox .shadowbox-inner {
  /* Stop shadowbox clipping content */
  overflow-x: visible;
}
.question .question-error-wrapper .shadowbox-inner {
  /* Remove inner padding reserved for error boxes */
  padding: 0;
}
.question .question-error-wrapper.error .shadowbox-inner {
  /* Re-add inner padding when we have error */
  padding: 0 16px;
}
.question .question-display {
  line-height: 24px;
  margin-bottom: 16px;
}
.question .required-marker {
  color: #5d6a74;
}
.question {
  margin-bottom: 16px;
}
#navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 16px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 0;
}
@media (min-width: 500px) {
  #navigation {
    position: static;
  }
}
#navigation #next-button,
#navigation #previous-button {
  color: #14181a;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  max-width: 343px;
  background-color: #00bfa5;
  height: 56px;
  padding: 0 16px 0 16px;
  border-radius: 8px;
}
#navigation svg {
  display: none;
}
#navigation #next-button:focus,
#navigation #previous-button:focus {
  background-color: #00bfa5;
  box-shadow: none;
  outline: none;
}
#navigation #next-button:focus-visible,
#navigation #previous-button:focus-visible {
  box-shadow: inset 0px 0px 0px 2px #14181a;
}
#navigation #next-button:active,
#navigation #previous-button:active {
  background-color: #00a690;
}
#navigation #next-button:disabled,
#navigation #previous-button:disabled {
  opacity: 1;
  color: #5d6a74;
  background-color: #ccd6dd;
}
#navigation #previous-button + #next-button {
  margin-left: 16px;
}
#end-of-survey {
  color: #14181a;
  text-align: center;
  background: url(https://res.cloudinary.com/sharecare/image/upload/v1659617900/sharecare-images/qualtrics/heart-on-stars.png)
    center top no-repeat;
  padding: 156px 16px 16px 16px;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

/* Question specific */

/* Fit NPS into 500px width */
@media (min-width: 42.5rem) {
  .nps .choices {
    grid-gap: 4px;
  }
  .nps .choices .choice {
    min-width: auto;
  }
}
